
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    font-family:"Roboto";
    font-weight: bold;
}
body{
  background-color: #f9f9ff;
}
/* body{
  background-image: url('https://img.zcool.cn/community/015fa55b117f2fa801202e60106a69.jpg@1280w_1l_2o_100sh.jpg');
  background-repeat:no-repeat;
	background-attachment:fixed; 
	background-size:cover;

.bar{
  background-image:url('https://img.51miz.com/Element/00/81/15/31/78e206f5_E811531_93ea03d5.jpg');
  background-repeat:no-repeat;
	background-attachment:fixed; 
	background-size:cover;	
 */

/* .IM1{
  background-image:url('https://pic.52112.com/180524/JPG-180524_266/g7SGic0ETH_small.jpg');

}
.IM2{
  background-color: #3ed5ff

}
.IM3{
  background-image:url('https://pic.52112.com/180524/JPG-180524_266/g7SGic0ETH_small.jpg');

} 
 .IM4{
  background-color: #e3300c

}
.IM5{
  background-color: #AEE2FF

}  */
